@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
  }

  body {
    @apply bg-slate-100 text-slate-900;
  }

  button,
  input,
  select,
  textarea {
    font: inherit;
  }
}
